.workspace {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: 20px 20px;
  background-repeat: repeat;
  background-image: radial-gradient(
    circle at 1px 1px,
    #8e8e8e8e 1px,
    transparent 0
  );
  background-color: #fff;
  justify-content: space-between;
}
