.panel {
  background-color: #ffffff;
  border-left: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  display: flex;
  gap: 20px;
  z-index: 1;
  align-items: center;

  & .item {
    cursor: pointer;

    & img {
      width: 25px;
      height: 25px;
      display: block;
    }
  }
}
